In [1]:
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
geolocator = Nominatim(user_agent="myGeolocator", timeout=1)
from paterson_repl_dict import paterson_repl_dict

def getPropertiesOwned(owner=str):
    return df[df.ownersName == owner]['propertyLocation'].unique().tolist()

# number of times property appears in first column
def getUnits(address=str):
    return len(df[df.propertyLocation == address])

# number of the properties owned by the given owner
def getNumberOwned(owner=str):
    return df[(df.ownersName == owner)]['propertyLocation'].count()

df = pd.read_pickle('paterson.pkl')
errors_df = pd.read_pickle('errors_df.pkl')

In [6]:
df

,propertyLocation,ownersName,ownersMailingAddress,cityStateZip,units,propertiesOwned,getNumberPropertiesOwned,propertyFullAddress,gCode,Lat,Long
0,98 HOPPER ST,"VILLANUEVA,RAUL A & LUGO,JUSTIN",98 HOPPER ST,PATERSON NJ 07522,1,[98 HOPPER ST],1,"98 HOPPER ST, PATERSON, NJ","(98, Hopper Street, Prospect Park, Passaic Cou...",40.932479,-74.169429
1,283 N 4TH ST,"HENRIQUEZ, JENNY I.",56 PATERSON AVENUE,"PATERSON, NJ 07522",1,[283 N 4TH ST],1,"283 N 4TH ST, PATERSON, NJ","(283, North 4th Street, Paterson, Passaic Coun...",40.931718,-74.169154
2,281 N 4TH ST,"SILVA,OVIDIO",56 PATERSON AVE,"PATERSON,NJ 07522",1,"[281 N 4TH ST, 7 CIRCLE AVE, 54-56 PATERSON AVE]",3,"281 N 4TH ST, PATERSON, NJ","(281, North 4th Street, Paterson, Passaic Coun...",40.931694,-74.169185
3,279 N 4TH ST,PLANE TREE PROPERTIES LLC,PO BOX 1085,"CLIFTON,NJ 07014",1,[279 N 4TH ST],1,"279 N 4TH ST, PATERSON, NJ","(279, North 4th Street, Paterson, Passaic Coun...",40.931670,-74.169217
4,277 N 4TH ST,"277 NORTH 4TH STREET, LLC",56 HAMBURG TURNPIKE # 253,"RIVERDALE, NJ 07547",1,[277 N 4TH ST],1,"277 N 4TH ST, PATERSON, NJ","(277, North 4th Street, Paterson, Passaic Coun...",40.931646,-74.169249
...,...,...,...,...,...,...,...,...,...,...,...
206,20 (NORTH 2ND ST),"MARCH, KAREN",20 REENSTRA CT,PATERSON NJ 07522,1,[20 HABITAT WAY (N 2ND ST)],1,"20 (NORTH 2ND ST), PATERSON, NJ","(20, North 2nd Street, Paterson, Passaic Count...",NaN,NaN
208,26 (NORTH 2ND ST),"LEE, GLORIA A.",84 N. 2ND ST,PATERSON NJ 07522,1,[26 HABITAT WAY (N 2ND ST)],1,"26 (NORTH 2ND ST), PATERSON, NJ","(26, North 2nd Street, Paterson, Passaic Count...",NaN,NaN
209,28 (NORTH 2ND ST),"NDUBUISI-SHOULARS, GWENDOLYN",86 N 2ND ST,PATERSON NJ 07522,1,[28 HABITAT WAY (N 2ND ST)],1,"28 (NORTH 2ND ST), PATERSON, NJ","(28, North 2nd Street, Paterson, Passaic Count...",NaN,NaN
210,30 (NORTH 2ND ST),"PAGAN, ANGEL M & LIZ I (AKA TUFINO)",88 N 2ND ST,PATERSON NJ 07522,1,[30 HABITAT WAY (N 2ND ST)],1,"30 (NORTH 2ND ST), PATERSON, NJ","(30, North 2nd Street, Paterson, Passaic Count...",NaN,NaN
211,32 (NORTH 2ND ST),"FONTALVO, VLADIMIR & NITZA M H/W",90 N 2ND ST,PATERSON NJ 07522,1,[32 HABITAT WAY (N 2ND ST)],1,"32 (NORTH 2ND ST), PATERSON, NJ","(32, North 2nd Street, Paterson, Passaic Count...",NaN,NaN

In [5]:
errors_df['propertyLocation'].unique()

array(['137 NORTH 1ST ST 1/2', '130 NORTH 1ST ST CV',
       '56-62 N STRAIGHT ST', '10 WATSON ST', '22 WATSON ST',
       '24 WATSON ST', '30 WATSON ST', '32 WATSON ST', '34 WATSON ST',
       '36 WATSON ST', '38 WATSON ST', '40 WATSON ST', '42 WATSON ST',
       '44 WATSON ST', '46 WATSON ST', '15 WATSON ST', '23 WATSON ST',
       '29 WATSON ST', '10-12 N STRAIGHT ST', '41-43 WATSON ST',
       '39 WATSON ST', '37 WATSON ST', '35 WATSON ST', '33 WATSON ST',
       '7-9 N STRAIGHT ST', '13-15 N STRAIGHT ST', '55-57 NORTH 1ST',
       '11-15 HOLSMAN ST FT', '23 PIERCEY ST', '17 PIERCEY ST',
       '1/2 98-100 NORTH 11TH ST', '96-1/2 98 NORTH 11TH ST',
       '109 N0RTH 4TH ST', '67-69 N0RTH 5TH ST', '57-63 HOPE ST',
       '49-55 HOPE ST', '49-63 HOPE ST', '273-277 W BROADWAY',
       '224 1/2 226 WAYNE AVE', '1/2 226-228 WAYNE AVE',
       '391-1/2 393 UNION AVE', 'S 32-34 SHERIDAN AVE', 'BOSSHART TRACT',
       '280-298 WAYNE AVE', '311-349 REDWOOD AVE', '273-309 REDWOOD AVE',
       '153-271 REDWOOD AVE', '406-414 KEARNEY ST', '13 ALDEN TR',
       '11 ALDEN TR', '9 ALDEN TR', '7 ALDEN TR', '5 ALDEN TR',
       '1 ALDEN TR', '15 ALDEN TR', '20 ALDEN TR', '16 ALDEN TR',
       '14 ALDEN TR', '12 ALDEN TR', '10 ALDEN TR', '8 ALDEN TR',
       '6 ALDEN TR', '4 ALDEN TR', '2 ALDEN TR', '466-470 PREAKNESS AVE',
       '262-280 CHAMBERLAIN AVE', '387-391 PREAKNESS AVE',
       '375-383 PREAKNESS AVE', '398-404 EDMUND AVE',
       '463-473 PREAKNESS AVE', 'S 234-238 PREAKNESS AVE',
       'S 238-240 PREAKNESS AVE', '.73-175 PREAKNESS AVE',
       '10 DON BOSCO AVE', '12-16 DON BOSCO AVE', '18-22 DON BOSCO AVE',
       '24-26 DON BOSCO AVE', '26-28 DON BOSCO AVE',
       '30-32 DON BOSCO AVE', '34-36 DON BOSCO AVE',
       '38-42 DON BOSCO AVE', '44-48 DON BOSCO AVE',
       '50-52 DON BOSCO AVE', '54-56 DON BOSCO AVE',
       '58-60 DON BOSCO AVE', '31-33 DON BOSCO AVE',
       '27-29 DON BOSCO AVE', '19-21 DON BOSCO AVE',
       '15-17 DON BOSCO AVE', '11-13 DON BOSCO AVE',
       '219 1/2-221 WALNUT ST', '1/2 221-223 WALNUT ST', '15-17 RIVER TR',
       '8-9 RIVER TR', '6-7 RIVER TR', '273-277 EMERSON AVE',
       '48-54 E 13TH ST. UNIT 1', '48-54 E 13TH ST. UNIT 2',
       '48-54 E 13TH ST. UNIT 3', '48-54 E 13TH ST. UNIT 4',
       '48-54 E 13TH ST. UNIT 5', '48-54 E 13TH ST. UNIT 6',
       '48-54 E 13TH ST. UNIT 7', '48-54 E 13TH ST. UNIT 8',
       '48-54 E 13TH ST. UNIT 9', '69-71 E 14TH ST', '672-676 RIVER ST',
       'S 7-9 2ND AVE', '1/2 56-60 MADISON AVE', '54-1/2 56 MADISON AVE',
       '285 3/5-289 5TH AVE', '175-1/2 177 EAST 24TH ST',
       '273-277 E 28TH ST', '141-143 7TH AVE S', 'S. 334-336 E 16TH ST',
       '400 RIVER ST UNIT 1', '400 RIVER ST UNIT 2',
       '400 RIVER ST UNIT 3', '6-RR12 PARK PLACE', '2-4 GRAHAM AVE',
       '6 GRAHAM AVE', '8 GRAHAM AVENUE', '10 GRAHAM AVENUE',
       '16 GRAHAM AVE', '30-36 GRAHAM AVE', '33-35 GRAHAM AVE',
       '31-33 GRAHAM AVE', '21 GRAHAM AVE', '13 GRAHAM AVENUE',
       '11 GRAHAM AVE', '9 GRAHAM AVE', '7 GRAHAM AVE', '5 GRAHAM AVE',
       '3 GRAHAM AVE', '1 GRAHAM AVE', '50-52 GRAHAM AVE',
       '49-51 GRAHAM AVE', '43 GRAHAM AVE', '69 GRAHAM AVE',
       '67 GRAHAM AVE', '65 GRAHAM AVE', '63 GRAHAM AVE', '59 GRAHAM AVE',
       '62-64 GRAHAM AVE', '66 GRAHAM AVE', '70 GRAHAM AVE',
       '72 GRAHAM AVE', '74-1/2 76 KEEN ST', '1/2 76-78 KEEN ST',
       '78-80 GRAHAM AVE', '82 GRAHAM AVE', '84 GRAHAM AVE',
       '86 GRAHAM AVE', '77 GRAHAM AVE', '91 GRAHAM AVE', '89 GRAHAM AVE',
       '87 GRAHAM AVE', '85 GRAHAM AVE', '81-83 GRAHAM AVE',
       '79-81 GRAHAM AVE', '100 GRAHAM AVE', '102-104 GRAHAM AVE',
       '104-106 GRAHAM AVE', '106-108 GRAHAM AVE', '108-110 GRAHAM AVE',
       '112 GRAHAM AVE', '163-165 MONTGOMERY PL', '161-163 MONTGOMERY PL',
       '157-159 MONTGOMERY PL', '155-157 MONTGOMERY PL',
       '153-155 MONTGOMERY PL', '135-137 MONTGOMERY PL',
       '97-99 GRAHAM AVE', '149-151 GRAHAM AVE', '147-149 GRAHAM AVE',
       '145-147 GRAHAM AVE', '141-143 GRAHAM AVE', '139-141 GRAHAM AVE',
       '137-139 GRAHAM AVE', '129-131 GRAHAM AVE', '127-129 GRAHAM AVE',
       '125-127 GRAHAM AVE', '125 GRAHAM AVE', '121-123 GRAHAM AVE',
       '119-121 GRAHAM AVE', '117-119 GRAHAM AVENUE',
       '181-183 MONTGOMERY PL', '109-111 GRAHAM AVE',
       '107-109 GRAHAM AVE', '105-107 GRAHAM AVE', '101-103 GRAHAM AVE',
       '99-101 GRAHAM AVE', '175-177 GRAHAM AVE', '187-189 GRAHAM AVE',
       '185-187 GRAHAM AVE', '183-185 GRAHAM AVE', '179-181 GRAHAM AVE',
       '158-160 GRAHAM AVE', '160-164 GRAHAM AVENUE',
       '164-166 GRAHAM AVE', '166-170 GRAHAM AVE', '138-142 GRAHAM AVE',
       '142-144 GRAHAM AVE', '148-150 GRAHAM AVE', '152 GRAHAM AVE',
       '443-445 E24TH ST', '347-361 E 27TH ST', '387-393 11TH AVE',
       '565-569 E 22ND ST', '569-573 EAST 23RD ST', '377-383 12TH AVE',
       '398-404 12TH AVE', '595-609 BROADWAY', '198 GRAHAM AVE',
       '200 GRAHAM AVE', '202-204 GRAHAM AVE', '197 GRAHAM AVE',
       '235 GRAHAM AVE', '192-228 GODWIN AVE', '239 GRAHAM AVE',
       '237 GRAHAM AVENUE', '310-312 HAMILTONN AVENUE',
       '261-263 GRAHAM AVE', '265 GRAHAM AVE', '267 GRAHAM AVE',
       '269 GRAHAM AVE', '271 GRAHAM AVE', '429-437 BROADWAY',
       '264-266 GRAHAM AVE', '175 BROAWDAY', '637-643 14TH AVE',
       '558-562 14TH AVE', '688-692 E 26TH ST', '698-702 E 26TH ST',
       '.775-779-785 E.23RD', '690-692 E 28TH ST', '402 GRAHAM AVE',
       '404 GRAHAM AVE', '406 GRAHAM AVE', '408 GRAHAM AVE',
       '410 GRAHAM AVE', '412 GRAHAM AVE', '419 GRAHAM AVE',
       '417 GRAHAM AVE', '415 GRAHAM AVE', '413 GRAHAM AVE',
       '409 GRAHAM AVE', '407 GRAHAM AVE', '405 GRAHAM AVE',
       '403 GRAHAM AVE', '401 GRAHAM AVE', '792-798 E 19TH ST',
       '398-406 BROADWAY', 'MILL PLOT 18-MARKET ST',
       'MILL PLOT 18 - MARKET ST', 'MILPLOT 18 - MARKET ST',
       'MILL PLOT 18 MARKET ST', '273-277 CALDWELL AVE',
       '180 ATLANTIC STREET #3', '273-277 PACIFIC ST', '7-8 LAMBERT TR',
       '5-6 LAMBERT TR', '6040-606 MAIN STREET',
       '1/2 135-137 ATLANTIC ST', '133-1/2 135 ATLANTIC ST',
       '1247-1251 MADISON AVE', '20-1/2 22 PARK ST',
       'R 337-339 STRAIGHT ST', '401-407 SUMMER ST UNIT 2',
       '401-407SUMMER ST UNIT 3', '401-407 SUMMER ST UNIT4',
       '401-407 SUMMER ST UNIT5', '401-407 SUMMER ST UNIT 6',
       '401-407 SUMMER ST UNIT 7', '401-407 SUMMER ST UNIT 8',
       '401-407 SUMMER ST UNIT 9', '401-407 SUMMER ST UNIT 11',
       '401-407 SUMMER ST UNIT 12', '401-409 SUMMER ST UNIT 13',
       '10 SEELEY ST', '12 SEELEY ST', '18 SEELEY ST', '20 SEELEY ST',
       '22 SEELEY ST', '24 SEELEY ST', '26 SEELEY ST', '28 SEELEY ST',
       '30 SEELEY ST', '13 SEELEY ST', '9-11 SEELEY ST', '462 GRAHAM AVE',
       '464 GRAHAM AVE', '466 GRAHAM AVE', '468-470 GRAHAM AVE',
       '472 GRAHAM AVE', '474 GRAHAM AVE', '476 GRAHAM AVE',
       '478 GRAHAM AVE', '485-487 GRAHAM AVE', '483 GRAHAM AVE',
       '481 GRAHAM AVE', '479 GRAHAM AVE', '477 GRAHAM AVE',
       '475 GRAHAM AVE', '473 GRAHAM AVE', '469 GRAHAM AVE',
       '467 GRAHAM AVE', '888-890 E 19TH ST', '898-900 E 19TH ST',
       '229-233 LINDBERGH PL', '227 LINDBERGH PL', '19-21SHEN ST',
       '22 GENESEE AVENUE', '34-36 GENESSE AVE', '36 GOULD & 386 PAXTON',
       '510-516 GETTY AVE', '466-470 GETTY AVE', '1069-1071 MAIN ST',
       'R 386-388 GETTY AVE', '65-67 RAILWAY AVE', '1090-1092 E 22ND ST',
       '1096-1098 E 22ND ST', '1098-1100 E 22ND ST',
       '1092-1094 E 23RD ST', '1096-1098 E 23RD ST',
       '1099-1101 E 22ND ST', '1093-1097 E 22ND ST',
       '1078-1080 E 24TH ST', '1090-1092 E 24TH ST',
       '1089-1091 E 24TH ST', '1065-1067 E 25TH ST',
       '1022-1026 E 27TH ST', '1051-1055 E 26TH ST', '997-999 E 28TH ST',
       '991-993 E 28TH ST', '299-307 MARYLAND AVE',
       '289-291-293 DELAWARE AVE', '272-294 LAKEVIEW AVE',
       '654-356 KNICKERBOCKER AVE', '337-353 CROOKS AVE',
       '366-382 TRENTON AVE', '584-588 E 39TH ST', '569-573 E 38TH ST',
       '578-582 E 38TH ST', '447-453 19TH AVE', '387-393 19TH AVE',
       '466-470 E 38TH ST', '467-471 E 40TH ST', '458-462 19TH AVE',
       '292-294 E43RD ST(MCLEAN)', '677-683 PARK AVE', '673-677 PARK AVE',
       '667-671 PARK AVE', '666-672 PARK AVE', '646-652 PARK AVE',
       '491-525 BOULEVARD', '531-619 BOULEVARD', '855-887 BROADWAY',
       '567-571 11TH AVE', '470-472 1OTH AVENUE', '467-471 12TH AVE',
       '477-491 12TH AVE', '495-499 E 29TH ST', '785-791 14TH AVE',
       '798-804 14TH AVE', '776-780 14TH AVE', '493-497 15TH AVE',
       '690-692 14TH AVE', '666-672 14TH AVE', '584-588 E 29TH ST',
       '613-617 E 28TH ST', '447-453 E 30TH ST', '338-354 E 35TH ST',
       '495-499 E 33RD ST', '508-512 E 32ND ST', '588-592 20TH AVE',
       '673-677 E 30TH ST', '967-969 MADISON AVE', '962-964 E 22ND ST',
       '972-976 E 22ND ST', '962-964 E 23RD ST', '983-985 E 22ND ST',
       '979-981 E 22ND ST', '967-969 E 22ND ST', '992-994 E 24TH ST',
       '983-985 E 23RD ST', '981-983 E 23RD ST', '967-969 E 23RD ST',
       '958-960 E 25TH ST', '888-890 E 28TH ST', '896-900 E 28TH ST',
       '926-932 E 28TH ST', '958-960 E 28TH ST', '962-964 E 28TH ST',
       '981-983 E 27TH ST', '975-979 E 27TH ST', '969-973 E 27TH ST',
       '958-960 E 27TH ST', '989-993 E. 26TH ST.', '981-983 EAST 26TH ST',
       '975-979 EAST 26TH ST', '1022-1026 E 23RD ST',
       '889-891 MADISON AVE', '881-883 MADISON AVE',
       '871-873 MADISON AVE'], dtype=object)

In [36]:
# df = pd.read_csv('1608monm174855.csv', usecols=[
#                  "Property Location", "Owner's Name", "Owner's Mailing Address", "City/State/Zip"])
# df.rename(columns={'Property Location': 'propertyLocation',
#                    "Owner's Name": "ownersName",
#                    "Owner's Mailing Address": "ownersMailingAddress",
#                    "City/State/Zip": "cityStateZip"}, inplace=True)
# df['units'] = [getUnits(address) for address in df.propertyLocation]
# df['propertiesOwned'] = [getPropertiesOwned(owner) for owner in df.ownersName]
# df['getNumberPropertiesOwned'] = [getNumberOwned(owner) for owner in df.ownersName]

In [37]:
# df['propertyFullAddress'] = df.propertyLocation + ", PATERSON, NJ"

In [50]:
# df['gCode'] = df.propertyFullAddress.apply(geolocator.geocode)

In [51]:
# df.to_pickle('paterson.pkl')

In [52]:
# geocode_errors = [i for i,e in enumerate(df.gCode) if e == None]

In [53]:
# df.iloc[geocode_errors]

In [22]:
errors_df.propertyLocation.replace(paterson_repl_dict, value=None, inplace=True)

In [15]:
#errors_df.propertyLocation = errors_df.propertyLocation.str.replace('PT ', '')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace("MC BRIDE", "MCBRIDE")
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace("BOULDER RUN", "BOULDER RUN ROAD")    
#errors_df.propertyLocation = errors_df.propertyLocation.str.replace("PT", "")    
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace("RRS", '')    
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace("FT.", '')    
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace("FRT", '')    
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace("FRTS", '')    
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace("FRTS.", '')    
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace("FRONT", '')    
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace("REAR", '')    
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace("TR CV", 'TR')    
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace("HABITAT WAY", '')    
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace("N 1ST", 'NORTH 1ST')    
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace("N 2ND", 'NORTH 2ND')    
errors_df.propertyLocation = errors_df.propertyLocation.str.replace("ALDEN TR", 'ALDEN TERRACE')    
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace(r"\(\)", '')

In [16]:
errors_df['propertyFullAddress'] = errors_df.propertyLocation + ", PATERSON, NJ"

In [17]:
errors_df.gCode = errors_df.propertyFullAddress.apply(geolocator.geocode)

In [18]:
geocode_errors = [i for i,e in enumerate(errors_df.gCode) if e == None]

In [19]:
errors_df.iloc[geocode_errors]['propertyLocation'].unique()

array(['137 NORTH 1ST ST 1/2', '130 NORTH 1ST ST CV',
       '56-62 N STRAIGHT ST', '10-12 N STRAIGHT ST', '7-9 N STRAIGHT ST',
       '13-15 N STRAIGHT ST', '55-57 NORTH 1ST', '11-15 HOLSMAN ST FT',
       '23 PIERCEY ST', '17 PIERCEY ST', '1/2 98-100 NORTH 11TH ST',
       '96-1/2 98 NORTH 11TH ST', '109 N0RTH 4TH ST',
       '67-69 N0RTH 5TH ST', '57-63 HOPE ST', '49-55 HOPE ST',
       '49-63 HOPE ST', '273-277 W BROADWAY', '224 1/2 226 WAYNE AVE',
       '1/2 226-228 WAYNE AVE', '391-1/2 393 UNION AVE',
       'S 32-34 SHERIDAN AVE', 'BOSSHART TRACT', '280-298 WAYNE AVE',
       '311-349 REDWOOD AVE', '273-309 REDWOOD AVE',
       '153-271 REDWOOD AVE', '406-414 KEARNEY ST',
       '466-470 PREAKNESS AVE', '262-280 CHAMBERLAIN AVE',
       '387-391 PREAKNESS AVE', '375-383 PREAKNESS AVE',
       '398-404 EDMUND AVE', '463-473 PREAKNESS AVE',
       'S 234-238 PREAKNESS AVE', 'S 238-240 PREAKNESS AVE',
       '.73-175 PREAKNESS AVE', '10 DON BOSCO AVE', '12-16 DON BOSCO AVE',
       '18-22 DON BOSCO AVE', '24-26 DON BOSCO AVE',
       '26-28 DON BOSCO AVE', '30-32 DON BOSCO AVE',
       '34-36 DON BOSCO AVE', '38-42 DON BOSCO AVE',
       '44-48 DON BOSCO AVE', '50-52 DON BOSCO AVE',
       '54-56 DON BOSCO AVE', '58-60 DON BOSCO AVE',
       '31-33 DON BOSCO AVE', '27-29 DON BOSCO AVE',
       '19-21 DON BOSCO AVE', '15-17 DON BOSCO AVE',
       '11-13 DON BOSCO AVE', '219 1/2-221 WALNUT ST',
       '1/2 221-223 WALNUT ST', '15-17 RIVER TR', '8-9 RIVER TR',
       '6-7 RIVER TR', '273-277 EMERSON AVE', '48-54 E 13TH ST. UNIT 1',
       '48-54 E 13TH ST. UNIT 2', '48-54 E 13TH ST. UNIT 3',
       '48-54 E 13TH ST. UNIT 4', '48-54 E 13TH ST. UNIT 5',
       '48-54 E 13TH ST. UNIT 6', '48-54 E 13TH ST. UNIT 7',
       '48-54 E 13TH ST. UNIT 8', '48-54 E 13TH ST. UNIT 9',
       '69-71 E 14TH ST', '672-676 RIVER ST', 'S 7-9 2ND AVE',
       '1/2 56-60 MADISON AVE', '54-1/2 56 MADISON AVE',
       '285 3/5-289 5TH AVE', '175-1/2 177 EAST 24TH ST',
       '273-277 E 28TH ST', '141-143 7TH AVE S', 'S. 334-336 E 16TH ST',
       '400 RIVER ST UNIT 1', '400 RIVER ST UNIT 2',
       '400 RIVER ST UNIT 3', '6-RR12 PARK PLACE', '2-4 GRAHAM AVE',
       '6 GRAHAM AVE', '8 GRAHAM AVENUE', '10 GRAHAM AVENUE',
       '16 GRAHAM AVE', '30-36 GRAHAM AVE', '33-35 GRAHAM AVE',
       '31-33 GRAHAM AVE', '21 GRAHAM AVE', '13 GRAHAM AVENUE',
       '11 GRAHAM AVE', '9 GRAHAM AVE', '7 GRAHAM AVE', '5 GRAHAM AVE',
       '3 GRAHAM AVE', '1 GRAHAM AVE', '50-52 GRAHAM AVE',
       '49-51 GRAHAM AVE', '43 GRAHAM AVE', '69 GRAHAM AVE',
       '67 GRAHAM AVE', '65 GRAHAM AVE', '63 GRAHAM AVE', '59 GRAHAM AVE',
       '62-64 GRAHAM AVE', '66 GRAHAM AVE', '70 GRAHAM AVE',
       '72 GRAHAM AVE', '74-1/2 76 KEEN ST', '1/2 76-78 KEEN ST',
       '78-80 GRAHAM AVE', '82 GRAHAM AVE', '84 GRAHAM AVE',
       '86 GRAHAM AVE', '77 GRAHAM AVE', '91 GRAHAM AVE', '89 GRAHAM AVE',
       '87 GRAHAM AVE', '85 GRAHAM AVE', '81-83 GRAHAM AVE',
       '79-81 GRAHAM AVE', '100 GRAHAM AVE', '102-104 GRAHAM AVE',
       '104-106 GRAHAM AVE', '106-108 GRAHAM AVE', '108-110 GRAHAM AVE',
       '112 GRAHAM AVE', '163-165 MONTGOMERY PL', '161-163 MONTGOMERY PL',
       '157-159 MONTGOMERY PL', '155-157 MONTGOMERY PL',
       '153-155 MONTGOMERY PL', '135-137 MONTGOMERY PL',
       '97-99 GRAHAM AVE', '149-151 GRAHAM AVE', '147-149 GRAHAM AVE',
       '145-147 GRAHAM AVE', '141-143 GRAHAM AVE', '139-141 GRAHAM AVE',
       '137-139 GRAHAM AVE', '129-131 GRAHAM AVE', '127-129 GRAHAM AVE',
       '125-127 GRAHAM AVE', '125 GRAHAM AVE', '121-123 GRAHAM AVE',
       '119-121 GRAHAM AVE', '117-119 GRAHAM AVENUE',
       '181-183 MONTGOMERY PL', '109-111 GRAHAM AVE',
       '107-109 GRAHAM AVE', '105-107 GRAHAM AVE', '101-103 GRAHAM AVE',
       '99-101 GRAHAM AVE', '175-177 GRAHAM AVE', '187-189 GRAHAM AVE',
       '185-187 GRAHAM AVE', '183-185 GRAHAM AVE', '179-181 GRAHAM AVE',
       '158-160 GRAHAM AVE', '160-164 GRAHAM AVENUE',
       '164-166 GRAHAM AVE', '166-170 GRAHAM AVE', '138-142 GRAHAM AVE',
       '142-144 GRAHAM AVE', '148-150 GRAHAM AVE', '152 GRAHAM AVE',
       '443-445 E24TH ST', '347-361 E 27TH ST', '387-393 11TH AVE',
       '565-569 E 22ND ST', '569-573 EAST 23RD ST', '377-383 12TH AVE',
       '398-404 12TH AVE', '595-609 BROADWAY', '198 GRAHAM AVE',
       '200 GRAHAM AVE', '202-204 GRAHAM AVE', '197 GRAHAM AVE',
       '235 GRAHAM AVE', '192-228 GODWIN AVE', '239 GRAHAM AVE',
       '237 GRAHAM AVENUE', '310-312 HAMILTONN AVENUE',
       '261-263 GRAHAM AVE', '265 GRAHAM AVE', '267 GRAHAM AVE',
       '269 GRAHAM AVE', '271 GRAHAM AVE', '429-437 BROADWAY',
       '264-266 GRAHAM AVE', '175 BROAWDAY', '637-643 14TH AVE',
       '558-562 14TH AVE', '688-692 E 26TH ST', '698-702 E 26TH ST',
       '.775-779-785 E.23RD', '690-692 E 28TH ST', '402 GRAHAM AVE',
       '404 GRAHAM AVE', '406 GRAHAM AVE', '408 GRAHAM AVE',
       '410 GRAHAM AVE', '412 GRAHAM AVE', '419 GRAHAM AVE',
       '417 GRAHAM AVE', '415 GRAHAM AVE', '413 GRAHAM AVE',
       '409 GRAHAM AVE', '407 GRAHAM AVE', '405 GRAHAM AVE',
       '403 GRAHAM AVE', '401 GRAHAM AVE', '792-798 E 19TH ST',
       '398-406 BROADWAY', 'MILL PLOT 18-MARKET ST',
       'MILL PLOT 18 - MARKET ST', 'MILPLOT 18 - MARKET ST',
       'MILL PLOT 18 MARKET ST', '273-277 CALDWELL AVE',
       '180 ATLANTIC STREET #3', '273-277 PACIFIC ST', '7-8 LAMBERT TR',
       '5-6 LAMBERT TR', '6040-606 MAIN STREET',
       '1/2 135-137 ATLANTIC ST', '133-1/2 135 ATLANTIC ST',
       '1247-1251 MADISON AVE', '20-1/2 22 PARK ST',
       'R 337-339 STRAIGHT ST', '401-407 SUMMER ST UNIT 2',
       '401-407SUMMER ST UNIT 3', '401-407 SUMMER ST UNIT4',
       '401-407 SUMMER ST UNIT5', '401-407 SUMMER ST UNIT 6',
       '401-407 SUMMER ST UNIT 7', '401-407 SUMMER ST UNIT 8',
       '401-407 SUMMER ST UNIT 9', '401-407 SUMMER ST UNIT 11',
       '401-407 SUMMER ST UNIT 12', '401-409 SUMMER ST UNIT 13',
       '10 SEELEY ST', '12 SEELEY ST', '18 SEELEY ST', '20 SEELEY ST',
       '22 SEELEY ST', '24 SEELEY ST', '26 SEELEY ST', '28 SEELEY ST',
       '30 SEELEY ST', '13 SEELEY ST', '9-11 SEELEY ST', '462 GRAHAM AVE',
       '464 GRAHAM AVE', '466 GRAHAM AVE', '468-470 GRAHAM AVE',
       '472 GRAHAM AVE', '474 GRAHAM AVE', '476 GRAHAM AVE',
       '478 GRAHAM AVE', '485-487 GRAHAM AVE', '483 GRAHAM AVE',
       '481 GRAHAM AVE', '479 GRAHAM AVE', '477 GRAHAM AVE',
       '475 GRAHAM AVE', '473 GRAHAM AVE', '469 GRAHAM AVE',
       '467 GRAHAM AVE', '888-890 E 19TH ST', '898-900 E 19TH ST',
       '229-233 LINDBERGH PL', '227 LINDBERGH PL', '19-21SHEN ST',
       '22 GENESEE AVENUE', '34-36 GENESSE AVE', '36 GOULD & 386 PAXTON',
       '510-516 GETTY AVE', '466-470 GETTY AVE', '1069-1071 MAIN ST',
       'R 386-388 GETTY AVE', '65-67 RAILWAY AVE', '1090-1092 E 22ND ST',
       '1096-1098 E 22ND ST', '1098-1100 E 22ND ST',
       '1092-1094 E 23RD ST', '1096-1098 E 23RD ST',
       '1099-1101 E 22ND ST', '1093-1097 E 22ND ST',
       '1078-1080 E 24TH ST', '1090-1092 E 24TH ST',
       '1089-1091 E 24TH ST', '1065-1067 E 25TH ST',
       '1022-1026 E 27TH ST', '1051-1055 E 26TH ST', '997-999 E 28TH ST',
       '991-993 E 28TH ST', '299-307 MARYLAND AVE',
       '289-291-293 DELAWARE AVE', '272-294 LAKEVIEW AVE',
       '654-356 KNICKERBOCKER AVE', '337-353 CROOKS AVE',
       '366-382 TRENTON AVE', '584-588 E 39TH ST', '569-573 E 38TH ST',
       '578-582 E 38TH ST', '447-453 19TH AVE', '387-393 19TH AVE',
       '466-470 E 38TH ST', '467-471 E 40TH ST', '458-462 19TH AVE',
       '292-294 E43RD ST(MCLEAN)', '677-683 PARK AVE', '673-677 PARK AVE',
       '667-671 PARK AVE', '666-672 PARK AVE', '646-652 PARK AVE',
       '491-525 BOULEVARD', '531-619 BOULEVARD', '855-887 BROADWAY',
       '567-571 11TH AVE', '470-472 1OTH AVENUE', '467-471 12TH AVE',
       '477-491 12TH AVE', '495-499 E 29TH ST', '785-791 14TH AVE',
       '798-804 14TH AVE', '776-780 14TH AVE', '493-497 15TH AVE',
       '690-692 14TH AVE', '666-672 14TH AVE', '584-588 E 29TH ST',
       '613-617 E 28TH ST', '447-453 E 30TH ST', '338-354 E 35TH ST',
       '495-499 E 33RD ST', '508-512 E 32ND ST', '588-592 20TH AVE',
       '673-677 E 30TH ST', '967-969 MADISON AVE', '962-964 E 22ND ST',
       '972-976 E 22ND ST', '962-964 E 23RD ST', '983-985 E 22ND ST',
       '979-981 E 22ND ST', '967-969 E 22ND ST', '992-994 E 24TH ST',
       '983-985 E 23RD ST', '981-983 E 23RD ST', '967-969 E 23RD ST',
       '958-960 E 25TH ST', '888-890 E 28TH ST', '896-900 E 28TH ST',
       '926-932 E 28TH ST', '958-960 E 28TH ST', '962-964 E 28TH ST',
       '981-983 E 27TH ST', '975-979 E 27TH ST', '969-973 E 27TH ST',
       '958-960 E 27TH ST', '989-993 E. 26TH ST.', '981-983 EAST 26TH ST',
       '975-979 EAST 26TH ST', '1022-1026 E 23RD ST',
       '889-891 MADISON AVE', '881-883 MADISON AVE',
       '871-873 MADISON AVE'], dtype=object)

In [21]:
geolocator.geocode('56 NORTH STRAIGHT ST, Paterson, NJ')

Location(56, Straight Street, Paterson, Passaic County, New Jersey, 07501, United States, (40.92400187353462, -74.16574656795576, 0.0))

In [24]:
geolocator.geocode('19 DON BOSCO AVE, Paterson, NJ')

In [44]:
df.append(errors_df.dropna(axis=0, subset=['gCode'])).to_pickle('paterson.pkl')

In [45]:
errors_df = errors_df.iloc[geocode_errors].copy()

In [46]:
errors_df.to_pickle('errors_df.pkl')

In [57]:
# df.dropna(axis=0, subset=['gCode'], inplace=True)

In [58]:
df['Lat'] = [g.latitude for g in df.gCode]
df['Long'] = [g.longitude for g in df.gCode]

In [59]:
# df.to_pickle('paterson.pkl')