In [2]:
import pandas as pd 
import numpy as np
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
from datetime import timedelta
geolocator = Nominatim(user_agent="myGeolocator", timeout=2)

# read the csv into a dataframe
# only import the columns we will use, so avoid spending time dropping 90 columns later
"""df = pd.read_csv(('0714monm135536.csv'), usecols=['propertyLocation', 'ownersName', 'ownersMailingAddress', 'cityStateZip'])"""

# after this initial instance, we'll read from the pickled dataframes
df = pd.read_pickle('newark.pkl')
errors_df = pd.read_pickle('errors_newark.pkl')

# create a column for the owner's full mailing address
"""df['ownersFullMailingAddress'] = df['ownersMailingAddress'] + ', ' + df.cityStateZip"""
# create a column for the property's full address
"""df['propertyFullAddress'] = df.propertyLocation + ' Newark, NJ'"""

# returns an array of properties associated with the owne
def getPropertiesOwned(owner=str):
    return df[df.ownersName == owner]['propertyLocation'].unique().tolist()

# number of times property appears in first column
def getUnits(address=str):
    return len(df[df.propertyLocation == address])

# number of the properties owned by the given owner
def getNumberOwned(owner=str):
    return df[(df.ownersName == owner)]['propertyLocation'].count()

## check to see if Essex is not included in the geocoded addresses

In [3]:
df[df.gCode.str.contains('Essex') == False]

Empty DataFrame
Columns: [propertyLocation, ownersName, ownersMailingAddress, cityStateZip, units, propertiesOwned, numberPropertiesOwned, propertyFullAddress, gCode]
Index: []

In [4]:
errors_df[errors_df.gCode.str.contains('Essex') == False]

Empty DataFrame
Columns: [propertyLocation, ownersName, ownersMailingAddress, cityStateZip, units, propertiesOwned, numberPropertiesOwned, propertyFullAddress, gCode]
Index: []

In [5]:
df['Lat'] = [g.latitude for g in df.gCode]
df['Long'] = [g.longitude for g in df.gCode]

In [7]:
errors_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36 entries, 2957 to 34686
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   propertyLocation       36 non-null     object
 1   ownersName             36 non-null     object
 2   ownersMailingAddress   36 non-null     object
 3   cityStateZip           36 non-null     object
 4   units                  36 non-null     int64
 5   propertiesOwned        36 non-null     object
 6   numberPropertiesOwned  36 non-null     int64
 7   propertyFullAddress    36 non-null     object
 8   gCode                  0 non-null      object
dtypes: int64(2), object(7)
memory usage: 2.8+ KB

In [86]:
errors_df.propertyLocation.unique(), errors_df.info()

array(['520 16TH ST', '81 C0SSIO DR', '252 W00DSIDE AVE',
       '100 FORREST HILL PK', '71 FORREST HILL CONDO',
       '77 FORREST HILL CONDO', '47 BRANCH BROOK NY', '72 COLOMBIA ST',
       '233 NO 4TH ST', '96 CLIFORD ST', 'VARNUM ST', '112 ELEVENTH AVE',
       '241 18TH ST ST', '110 S 15TH ST S', '355 12TH ST', '8 DOLBY PL',
       '764 SO 18TH ST', '510 IRVINE TURNER BL', '514 IRVINE TURNER BL',
       '181 SEYMOUR ST', '17 CLNTON PL', '55 HOMESTEAD PARK',
       '1 HOMESTEAD PARK', '42 HOMESTEAD PARK', '1 SARAH VAUGHAN PL',
       '167 MAPE AVE.', '34 BOYLAND ST', '310 SANFORD ST', '105 HYATT LN',
       '161 HYATT LN', '121 AVENUE I REAR', '386 RT 1 & 9',
       '362 RT 1 & 9', '106 RT 1 & 9', '314 RT 1 & 9'], dtype=object)

In [87]:
#errors_df.propertyLocation = errors_df.propertyLocation.str.replace('MCWHORTER', 'MC WHORTER')
#errors_df.propertyLocation = errors_df.propertyLocation.str.replace('ML KING', 'DR MARTIN LUTHER KING')
#errors_df.propertyLocation = errors_df.propertyLocation.str.replace('DR MARTIN LUTHER KING', 'DR MARTIN LUTHER KING JR')

# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('SCOFIELD', 'SCHOFIELD')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('STECHER', 'STETCHER')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('PARK VIEW', 'PARKVIEW')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('SANDFORD', 'SANFORD')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('VAL SUMO', 'VALSUMO')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('PATTERSON', 'PATERSON')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('AVE E', 'AVE')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('13COLGATE', '13 COLGATE')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('MOUNTAIN VIEW', 'MOUNTAINVIEW')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('DE GRAW', 'DEGRAW')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('GOTTHART', 'GOTTHARDT')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('AVE W', 'AVE')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('ST AR', 'ST')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('BLVD AR', 'BLVD')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('AVE AR', 'AVE')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('NJRR', 'New Jersey Railroad')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('HWY AR', 'HWY')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('PL AR', 'PL')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('LN AR', 'LN')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('HOMESTEAD PK RD', 'HOMESTEAD PARK RD')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('13TH R', '13TH')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('HWY R', 'HWY')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('AVE R', 'AVE')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('ST R', 'ST')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('AVE,', 'AVE')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('AVE  AR', 'AVE')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('ELVENTH', 'ELEVENTH')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('THRITEENTH R', '13TH ST')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('PKWAY', 'PKWY')

#errors_df.propertyLocation = errors_df.propertyLocation.str.replace(r'-\d{1,4}', '')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('STEAR', 'ST')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('AVEEAR', 'AVE')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('BLVDREAR', 'BLVD')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('BLVD R', 'BLVD')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('AVE  E', 'AVE')
#errors_df.propertyLocation = errors_df.propertyLocation.str.replace('AVE ,E', 'AVE')
#errors_df.propertyLocation = errors_df.propertyLocation.str.replace('HALSTED', 'HALSTEAD')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('BLVDEAR', 'BLVD')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('HWYEAR', 'HWY')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace(', REAR', '')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('PL REAR', 'PL')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('MNCHESTER', 'MANCHESTER')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('MANCHESTRER', 'MANCHESTER')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('STUYVSNT', 'STUYVESANT')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('SEVEN10TH', '17TH')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('SEVNTEENTH', '17TH')
#errors_df.propertyLocation = errors_df.propertyLocation.str.replace('BLVDE', 'BLVD')
#errors_df.propertyLocation = errors_df.propertyLocation.str.replace('ELLIOT', 'ELLIOTT')
#errors_df.propertyLocation = errors_df.propertyLocation.str.replace('HENNESY', 'HENNESSEY')
#errors_df.propertyLocation = errors_df.propertyLocation.str.replace('P REAR', 'P')
#errors_df.propertyLocation = errors_df.propertyLocation.str.replace('FOREST', 'FORREST')
#errors_df.propertyLocation = errors_df.propertyLocation.str.replace(r'\\d{0,2}TH', r'\\d{0,2}TH ST')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('PARK ROA', 'PARK')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('WHEELR', 'WHEELER')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('HORATIOST', 'HORATIO ST')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('PKW', 'PKWY')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('M L KING BLVD', 'DR MARTIN LUTHER KING JR BLVD')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('BLDG551', '551')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('NORFLOK', 'NORFOLK')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('FIFTEETH', 'FIFTEENTH')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('ST H1', 'ST')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('VANDERPOL', 'VANDERPOOL')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('HAZELLWOOD', 'HAZELWOOD')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('MILAND', 'MIDLAND')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('ORNAGE', 'ORANGE')
#errors_df.propertyLocation = errors_df.propertyLocation.str.replace('LN REAR', 'LN')
#errors_df.propertyLocation = errors_df.propertyLocation.str.replace('FRELINGHYSEN', 'FRELINGHUYSEN')
#errors_df.propertyLocation = errors_df.propertyLocation.str.replace('AVE  REAR', 'AVE')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('12TH', '12TH ST')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('13TH', '13TH ST')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('14TH', '14TH ST')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('15TH', '15TH ST')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('16TH', '16TH ST')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('17TH', '17TH ST')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('18TH', '18TH ST')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('19TH', '19TH ST')
# errors_df.propertyLocation = errors_df.propertyLocation.str.replace('20TH', '20TH ST')
#errors_df.propertyLocation = errors_df.propertyLocation.str.replace('ORTH 12TH ST ST	', '12TH ST')
#errors_df.propertyLocation = errors_df.propertyLocation.str.replace('18TH ST ST', '18TH ST')
#errors_df.propertyLocation = errors_df.propertyLocation.str.replace('AVEEST', 'AVE')
#errors_df.propertyLocation = errors_df.propertyLocation.str.replace('FIFTEENTH', '15TH ST')
#errors_df.propertyLocation = errors_df.propertyLocation.str.replace('ORTH 12TH ST ST', '12TH ST')
#errors_df.propertyLocation = errors_df.propertyLocation.str.replace('AVEEST', 'AVE')
#errors_df.propertyLocation = errors_df.propertyLocation.str.replace('S 16TH ST S', '16TH ST')
errors_df.propertyLocation = errors_df.propertyLocation.str.replace('NO 4TH ST', ' 4TH ST')
errors_df.propertyLocation = errors_df.propertyLocation.str.replace('18TH ST ST', ' 18TH ST')
errors_df.propertyLocation = errors_df.propertyLocation.str.replace('S 15TH ST S	', '15TH ST')
errors_df.propertyLocation = errors_df.propertyLocation.str.replace('S 15TH ST S', '15TH ST')
errors_df.propertyLocation = errors_df.propertyLocation.str.replace('SO 18TH ST', '18TH ST')

errors_df['propertyFullAddress'] = errors_df.propertyLocation + ' Newark, NJ'

In [88]:
errors_df['gCode'] = errors_df.propertyFullAddress.apply(geolocator.geocode)

In [89]:
geocode_errors = [i for i,e in enumerate(errors_df.gCode) if e == None]

In [90]:
errors_df.iloc[geocode_errors]

,propertyLocation,ownersName,ownersMailingAddress,cityStateZip,units,propertiesOwned,numberPropertiesOwned,propertyFullAddress,gCode
2957,520 16TH ST,"ASCENSION CAPITAL PARTNERS I,LLC","59 LINCOLN PARK,#200","NEWARK, NJ 07102",1,[520-526 S 16TH S],1,"520 16TH ST Newark, NJ",None
3688,81 C0SSIO DR,"JACKSON, DWAYNE & ANNA",81 COSSIO DR,"NEWARK, NJ 07103",1,[81 C0SSIO DR],1,"81 C0SSIO DR Newark, NJ",None
8697,252 W00DSIDE AVE,"RIVERA, GABRIEL & DEBORAH",252 WOODSIDE AVE,"NEWARK, NJ 07104",1,"[252 W00DSIDE AVE,]",1,"252 W00DSIDE AVE Newark, NJ",None
8927,100 FORREST HILL PK,FOREST HILLS 1 LLC ET AL,110 CHESTNUT RIDGE RD,"MONTVALE,NJ 07645",1,[100-102 FOREST HILL PK],1,"100 FORREST HILL PK Newark, NJ",None
9041,71 FORREST HILL CONDO,"FOREST HILLS 1, LLC, ET AL",110 CHESTNUT RIDGE RD 301,"MONTVALE, NJ 07645",2,"[84 FOREST HILL PKWY, 88 FOREST HILL PKWY, 96 ...",418,"71 FORREST HILL CONDO Newark, NJ",None
9044,71 FORREST HILL CONDO,"FOREST HILLS 1, LLC, ET AL",110 CHESTNUT RIDGE RD 301,"MONTVALE, NJ 07645",2,"[84 FOREST HILL PKWY, 88 FOREST HILL PKWY, 96 ...",418,"71 FORREST HILL CONDO Newark, NJ",None
9054,77 FORREST HILL CONDO,"FOREST HILLS 1, LLC, ET AL",110 CHESTNUT RIDGE RD 301,"MONTVALE, NJ 07645",1,"[84 FOREST HILL PKWY, 88 FOREST HILL PKWY, 96 ...",418,"77 FORREST HILL CONDO Newark, NJ",None
10152,47 BRANCH BROOK NY,"FOREST HILLS 1, LLC, ET AL",110 CHESTNUT RIDGE RD 301,"MONTVALE, NJ 07645",1,"[84 FOREST HILL PKWY, 88 FOREST HILL PKWY, 96 ...",418,"47 BRANCH BROOK NY Newark, NJ",None
11157,72 COLOMBIA ST,"GIAMMONA, PETER",7 JESSICA WAY,"WAYNE, NJ 07470",1,[72 COLOMBIA ST],1,"72 COLOMBIA ST Newark, NJ",None
12340,96 CLIFORD ST,FERREIRA CONSTANTINO & MARIA,96 CLIFFORD ST,"NEWARK, NJ 07105",1,[96 CLIFORD ST],1,"96 CLIFORD ST Newark, NJ",None
13781,VARNUM ST,CONRAIL,3 COMMERCIAL PL. BOX 209,NORFOLK VA 23510,1,"[VARNUM ST, 160-164 EARL ST, 254-260 FRELINGHU...",9,"VARNUM ST Newark, NJ",None
15060,112 ELEVENTH AVE,"RADFORD, MARCIA",112 11TH AVE,"NEWARK, NJ 07107",1,[112 ELVENTH AVE],1,"112 ELEVENTH AVE Newark, NJ",None
15134,241 18TH ST,BRONER TYRONE & MARION,1009 BURNET AVE,"UNION, NJ 07083",1,[241-243 18TH ST],1,"241 18TH ST Newark, NJ",None
15709,110 15TH ST,"PULLEY, CORA/NELLIE BIGELOW-LIFE ES",110-112 S 15TH ST,"NEWARK, NJ 07107",1,[110-112 S 15TH S],1,"110 15TH ST Newark, NJ",None
18072,355 12TH ST,RAIMATO ANGELO,355 N 12TH ST,"NEWARK, NJ 07107",1,[355-357 ORTH 12TH ST],1,"355 12TH ST Newark, NJ",None
20881,8 DOLBY PL,COTTAGE PLACE II LLC (LANDEX),801 INTERNATIONAL DR #110,"LINTHICUM HEIGHTS, MD 21090",1,"[125 W KINNEY ST, 607-639 ML KING BLVD, 86-96 ...",4,"8 DOLBY PL Newark, NJ",None
21903,764 18TH ST,"COLSON, DONNA",764-766 SOUTH 18TH ST.,"NEWARK, NJ 07103",1,[764-766 SO 18TH],1,"764 18TH ST Newark, NJ",None
23058,510 IRVINE TURNER BL,"MARTINEZ, ANGELINA & VENTURA,E",510-512 IRVINE TURNE,"NEWARK, NJ 07102",1,[510-512 IRVINE TURNER BL],1,"510 IRVINE TURNER BL Newark, NJ",None
23059,514 IRVINE TURNER BL,"ANANE, JOSEPH",514-516 IRVINE TURNE,"NEWARK,NJ 07103",1,[514-516 IRVINE TURNER BL],1,"514 IRVINE TURNER BL Newark, NJ",None
24642,181 SEYMOUR ST,"BROWN, HAROLD NATHAN",181 SEYMOUR AVE,"NEWARK, NJ 07108",1,[181 SEYMOUR ST],1,"181 SEYMOUR ST Newark, NJ",None
25184,17 CLNTON PL,"OGONDA, JOSEPH & OWOKO, BEATRICE",17 19 CLINTON PL,"NEWARK, NJ 07108",1,[17-19 CLNTON PL],1,"17 CLNTON PL Newark, NJ",None
25188,55 HOMESTEAD PARK,"CURRY, BOBBY & THOMAS, ALFRANZO",55 HOMESTEAD PARK,"NEWARK, NJ 07108",1,[55 HOMESTEAD PARK],1,"55 HOMESTEAD PARK Newark, NJ",None
25201,1 HOMESTEAD PARK,"MCRAE, SHARDAWN",29 MELMORE GARDEN,"EAST ORANGE, NJ 07017",1,[1-3 HOMESTEAD PARK ROA],1,"1 HOMESTEAD PARK Newark, NJ",None
25224,42 HOMESTEAD PARK,"REYNOLDS, FRANCIS",177 BURNETT AVE,"MAPLEWOOD, NJ 07040",1,"[42-44 HOMESTEAD PARK, 141-143 VERMONT AVE, 89...",4,"42 HOMESTEAD PARK Newark, NJ",None
25493,1 SARAH VAUGHAN PL,"PARRA, WILSON PERALTA",59 WAKEMAN AVENUE,"NEWARK, NJ 07104",1,[1-13 SARAH VAUGHAN PL],1,"1 SARAH VAUGHAN PL Newark, NJ",None
27655,167 MAPE AVE.,POMPILUS BEN & LOTTIE,167 MAPES AVE,"NEWARK, NJ 07112",1,[167 MAPE AVE.],1,"167 MAPE AVE. Newark, NJ",None
30707,34 BOYLAND ST,"32 BOYLAN ST., LLC.",32 BOYLAN STREET,"NEWARK, NJ 07106",1,[34-36 BOYLAND ST],1,"34 BOYLAND ST Newark, NJ",None
33519,310 SANFORD ST,"DAVIS, MARISA C.",310 SANFORD ST,"EAST ORANGE, NJ 07018",1,[310 SANDFORD ST REAR],1,"310 SANFORD ST Newark, NJ",None
34609,105 HYATT LN,T. FIORE DEMOLITION INC,457 WILSON AVE,"NEWARK, NJ 07105",1,[105-135 HYATT LN],1,"105 HYATT LN Newark, NJ",None
34612,161 HYATT LN,"MTF REALTY LLC,",535 WEST 24TH ST,"NEW YORK, NY 10001",1,"[137-147 HYATT LN, 149-159 HYATT LN, 161 HYATT...",3,"161 HYATT LN Newark, NJ",None
34632,121 AVENUE I REAR,"TERRENO STOCKTON LLC,",101 MONTGOMERY ST #200,"SAN FRANCISCO, CA 94104",1,"[121-137 AVENUE I REAR, 121 AVENUE I REAR]",2,"121 AVENUE I REAR Newark, NJ",None
34633,121 AVENUE I REAR,"TERRENO STOCKTON LLC,",101 MONTGOMERY ST #200,"SAN FRANCISCO, CA 94104",1,"[121-137 AVENUE I REAR, 121 AVENUE I REAR]",2,"121 AVENUE I REAR Newark, NJ",None
34683,386 RT 1 & 9,"CFS 2907 NEWARK SKYP,C/O RYAN",600 5TH AVE. 9TH FL,"NEW YORK, NY 10020",1,"[386-406 RT 1 & 9, 362-384 RT 1 & 9]",2,"386 RT 1 & 9 Newark, NJ",None
34684,362 RT 1 & 9,"CFS 2907 NEWARK SKYP,C/O RYAN",600 5TH AVE 9TH FL,"NEW YORK, NY 10020",1,"[386-406 RT 1 & 9, 362-384 RT 1 & 9]",2,"362 RT 1 & 9 Newark, NJ",None
34685,106 RT 1 & 9,CFS2907 NWK MCLELLAN LLC C/O RYAN,600 5TH AVE. 9TH FL,"NEW YORK, NY 10020",1,[106-132 RT 1 & 9],1,"106 RT 1 & 9 Newark, NJ",None
34686,314 RT 1 & 9,ANHEUSER-BUSCH INC (CORP. TAX DEPT),1 BUSCH PL,"SAINT LOUIS, MO 63118",1,[314-332 RT 1 & 9],1,"314 RT 1 & 9 Newark, NJ",None

## append nonNA values to the dataframe before pickling it
## write over errors_df
## pickle errors_df

In [91]:
#non NA values appened to the dataframe and then pickled
df.append(errors_df.dropna(axis=0, subset=['gCode'])).to_pickle('newark.pkl')
# writing over the old errors_df
errors_df = errors_df.iloc[geocode_errors].copy()
# saving the new errors_df
errors_df.to_pickle('errors_newark.pkl')

In [79]:
first_cleaning = timedelta(seconds=17439)
second_cleaning = timedelta(seconds=819.5)

In [95]:
geocode_errors = [i for i,e in enumerate(errors_df.gCode) if e == None]
errors_df.iloc[geocode_errors]

Empty DataFrame
Columns: [propertyLocation, ownersName, ownersMailingAddress, cityStateZip, units, propertiesOwned, numberPropertiesOwned, propertyFullAddress, gCode]
Index: []

In [86]:
errors_df.iloc[[i for i,e in enumerate(errors_df.gCode) if e != None]] == errors_df.dropna(axis=0, subset=['gCode'])

,propertyLocation,ownersName,ownersMailingAddress,cityStateZip,units,propertiesOwned,numberPropertiesOwned,propertyFullAddress,gCode
522,True,True,True,True,True,True,True,True,True
523,True,True,True,True,True,True,True,True,True
524,True,True,True,True,True,True,True,True,True
525,True,True,True,True,True,True,True,True,True
730,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...
34501,True,True,True,True,True,True,True,True,True
34502,True,True,True,True,True,True,True,True,True
34503,True,True,True,True,True,True,True,True,True
34504,True,True,True,True,True,True,True,True,True
34677,True,True,True,True,True,True,True,True,True

In [100]:
df

,propertyLocation,ownersName,ownersMailingAddress,cityStateZip,units,propertiesOwned,numberPropertiesOwned,propertyFullAddress,gCode
0,1050-1052 MCCARTER HWY,SEABRA BROTHERS II,260CHESTNUT ST. 2ND FLOOR,"NEWARK, NJ 07105",1,[1050-1052 MCCARTER HWY],1,"1050-1052 MCCARTER HWY Newark, NJ","(1050, McCarter Highway, Newark, Essex County,..."
1,1155-1157 MCCARTER HWY,LEG 450 BROAD STREET LLC,283-299 MARKET ST,"NEWARK, NJ 07102",1,"[1155-1157 MCCARTER HWY, 2-28 DIVISION ST, 30-...",4,"1155-1157 MCCARTER HWY Newark, NJ","(McCarter Highway, Newark, Essex County, New J..."
2,23 BRIDGE ST,"ALS NEWARK LLC,",494 BROAD ST SUITE 210,"NEWARK, NJ 07102",1,"[23 BRIDGE ST, 25 BRIDGE ST, 27 BRIDGE ST]",3,"23 BRIDGE ST Newark, NJ","(23, Bridge Street, Newark, Essex County, New ..."
3,25 BRIDGE ST,"ALS NEWARK LLC,",494 BROAD ST SUITE 210,"NEWARK, NY 07102",1,"[23 BRIDGE ST, 25 BRIDGE ST, 27 BRIDGE ST]",3,"25 BRIDGE ST Newark, NJ","(25, Bridge Street, Newark, Essex County, New ..."
4,27 BRIDGE ST,"ALS NEWARK LLC,",494 BROAD ST SUITE 210,"NEWARK, NJ 07102",1,"[23 BRIDGE ST, 25 BRIDGE ST, 27 BRIDGE ST]",3,"27 BRIDGE ST Newark, NJ","(27, Bridge Street, Newark, Essex County, New ..."
...,...,...,...,...,...,...,...,...,...
34710,21-23 GARIBALDI AVE,"PAULO,M. JIMMY & SUSAN",445 KING GEORGE RD,"BASKING RIDGE, NJ 07920",1,[21-23 GARIBALDI AVE],1,"21-23 GARIBALDI AVE Newark, NJ","(21, Garibaldi Avenue, Newark, Essex County, N..."
34711,25-27 GARIBALDI AVE,"LUSA ENTERPRISE, INC",52-54 PORETE AVE,"NORTH ARLINGTON, NJ 07031",1,"[39-41 PERSHING AVE, 43-53 PERSHING AVE, 28-32...",9,"25-27 GARIBALDI AVE Newark, NJ","(25, Garibaldi Avenue, Newark, Essex County, N..."
34712,29 GARIBALDI AVE,"LUSA ENTERPRISE, INC",52-54 PORETE AVE,"NORTH ARLINGTON, NJ 07031",1,"[39-41 PERSHING AVE, 43-53 PERSHING AVE, 28-32...",9,"29 GARIBALDI AVE Newark, NJ","(29, Garibaldi Avenue, Newark, Essex County, N..."
34713,31 GARIBALDI AVE,"LUSA ENTERPRISE, INC",52-54 PORETE AVE,"NORTH ARLINGTON, NJ 07031",1,"[39-41 PERSHING AVE, 43-53 PERSHING AVE, 28-32...",9,"31 GARIBALDI AVE Newark, NJ","(31, Garibaldi Avenue, Newark, Essex County, N..."
34714,33-41 GARIBALDI AVE,"LUSA ENTERPRISE, INC",52-54 PORETE AVE,"NORTH ARLINGTON, NJ 07031",1,"[39-41 PERSHING AVE, 43-53 PERSHING AVE, 28-32...",9,"33-41 GARIBALDI AVE Newark, NJ","(33, Garibaldi Avenue, Newark, Essex County, N..."

In [87]:
df.append(errors_df.dropna(axis=0, subset=['gCode'], inplace=True))

,propertyLocation,ownersName,ownersMailingAddress,cityStateZip,units,propertiesOwned,numberPropertiesOwned,propertyFullAddress,gCode
0,1050-1052 MCCARTER HWY,SEABRA BROTHERS II,260CHESTNUT ST. 2ND FLOOR,"NEWARK, NJ 07105",1,[1050-1052 MCCARTER HWY],1,"1050-1052 MCCARTER HWY Newark, NJ","(1050, McCarter Highway, Newark, Essex County,..."
1,1155-1157 MCCARTER HWY,LEG 450 BROAD STREET LLC,283-299 MARKET ST,"NEWARK, NJ 07102",1,"[1155-1157 MCCARTER HWY, 2-28 DIVISION ST, 30-...",4,"1155-1157 MCCARTER HWY Newark, NJ","(McCarter Highway, Newark, Essex County, New J..."
2,23 BRIDGE ST,"ALS NEWARK LLC,",494 BROAD ST SUITE 210,"NEWARK, NJ 07102",1,"[23 BRIDGE ST, 25 BRIDGE ST, 27 BRIDGE ST]",3,"23 BRIDGE ST Newark, NJ","(23, Bridge Street, Newark, Essex County, New ..."
3,25 BRIDGE ST,"ALS NEWARK LLC,",494 BROAD ST SUITE 210,"NEWARK, NY 07102",1,"[23 BRIDGE ST, 25 BRIDGE ST, 27 BRIDGE ST]",3,"25 BRIDGE ST Newark, NJ","(25, Bridge Street, Newark, Essex County, New ..."
4,27 BRIDGE ST,"ALS NEWARK LLC,",494 BROAD ST SUITE 210,"NEWARK, NJ 07102",1,"[23 BRIDGE ST, 25 BRIDGE ST, 27 BRIDGE ST]",3,"27 BRIDGE ST Newark, NJ","(27, Bridge Street, Newark, Essex County, New ..."
...,...,...,...,...,...,...,...,...,...
34710,21-23 GARIBALDI AVE,"PAULO,M. JIMMY & SUSAN",445 KING GEORGE RD,"BASKING RIDGE, NJ 07920",1,[21-23 GARIBALDI AVE],1,"21-23 GARIBALDI AVE Newark, NJ","(21, Garibaldi Avenue, Newark, Essex County, N..."
34711,25-27 GARIBALDI AVE,"LUSA ENTERPRISE, INC",52-54 PORETE AVE,"NORTH ARLINGTON, NJ 07031",1,"[39-41 PERSHING AVE, 43-53 PERSHING AVE, 28-32...",9,"25-27 GARIBALDI AVE Newark, NJ","(25, Garibaldi Avenue, Newark, Essex County, N..."
34712,29 GARIBALDI AVE,"LUSA ENTERPRISE, INC",52-54 PORETE AVE,"NORTH ARLINGTON, NJ 07031",1,"[39-41 PERSHING AVE, 43-53 PERSHING AVE, 28-32...",9,"29 GARIBALDI AVE Newark, NJ","(29, Garibaldi Avenue, Newark, Essex County, N..."
34713,31 GARIBALDI AVE,"LUSA ENTERPRISE, INC",52-54 PORETE AVE,"NORTH ARLINGTON, NJ 07031",1,"[39-41 PERSHING AVE, 43-53 PERSHING AVE, 28-32...",9,"31 GARIBALDI AVE Newark, NJ","(31, Garibaldi Avenue, Newark, Essex County, N..."
34714,33-41 GARIBALDI AVE,"LUSA ENTERPRISE, INC",52-54 PORETE AVE,"NORTH ARLINGTON, NJ 07031",1,"[39-41 PERSHING AVE, 43-53 PERSHING AVE, 28-32...",9,"33-41 GARIBALDI AVE Newark, NJ","(33, Garibaldi Avenue, Newark, Essex County, N..."

In [90]:
df

,propertyLocation,ownersName,ownersMailingAddress,cityStateZip,units,propertiesOwned,numberPropertiesOwned,propertyFullAddress,gCode
0,1050-1052 MCCARTER HWY,SEABRA BROTHERS II,260CHESTNUT ST. 2ND FLOOR,"NEWARK, NJ 07105",1,[1050-1052 MCCARTER HWY],1,"1050-1052 MCCARTER HWY Newark, NJ","(1050, McCarter Highway, Newark, Essex County,..."
1,1155-1157 MCCARTER HWY,LEG 450 BROAD STREET LLC,283-299 MARKET ST,"NEWARK, NJ 07102",1,"[1155-1157 MCCARTER HWY, 2-28 DIVISION ST, 30-...",4,"1155-1157 MCCARTER HWY Newark, NJ","(McCarter Highway, Newark, Essex County, New J..."
2,23 BRIDGE ST,"ALS NEWARK LLC,",494 BROAD ST SUITE 210,"NEWARK, NJ 07102",1,"[23 BRIDGE ST, 25 BRIDGE ST, 27 BRIDGE ST]",3,"23 BRIDGE ST Newark, NJ","(23, Bridge Street, Newark, Essex County, New ..."
3,25 BRIDGE ST,"ALS NEWARK LLC,",494 BROAD ST SUITE 210,"NEWARK, NY 07102",1,"[23 BRIDGE ST, 25 BRIDGE ST, 27 BRIDGE ST]",3,"25 BRIDGE ST Newark, NJ","(25, Bridge Street, Newark, Essex County, New ..."
4,27 BRIDGE ST,"ALS NEWARK LLC,",494 BROAD ST SUITE 210,"NEWARK, NJ 07102",1,"[23 BRIDGE ST, 25 BRIDGE ST, 27 BRIDGE ST]",3,"27 BRIDGE ST Newark, NJ","(27, Bridge Street, Newark, Essex County, New ..."
...,...,...,...,...,...,...,...,...,...
34710,21-23 GARIBALDI AVE,"PAULO,M. JIMMY & SUSAN",445 KING GEORGE RD,"BASKING RIDGE, NJ 07920",1,[21-23 GARIBALDI AVE],1,"21-23 GARIBALDI AVE Newark, NJ","(21, Garibaldi Avenue, Newark, Essex County, N..."
34711,25-27 GARIBALDI AVE,"LUSA ENTERPRISE, INC",52-54 PORETE AVE,"NORTH ARLINGTON, NJ 07031",1,"[39-41 PERSHING AVE, 43-53 PERSHING AVE, 28-32...",9,"25-27 GARIBALDI AVE Newark, NJ","(25, Garibaldi Avenue, Newark, Essex County, N..."
34712,29 GARIBALDI AVE,"LUSA ENTERPRISE, INC",52-54 PORETE AVE,"NORTH ARLINGTON, NJ 07031",1,"[39-41 PERSHING AVE, 43-53 PERSHING AVE, 28-32...",9,"29 GARIBALDI AVE Newark, NJ","(29, Garibaldi Avenue, Newark, Essex County, N..."
34713,31 GARIBALDI AVE,"LUSA ENTERPRISE, INC",52-54 PORETE AVE,"NORTH ARLINGTON, NJ 07031",1,"[39-41 PERSHING AVE, 43-53 PERSHING AVE, 28-32...",9,"31 GARIBALDI AVE Newark, NJ","(31, Garibaldi Avenue, Newark, Essex County, N..."
34714,33-41 GARIBALDI AVE,"LUSA ENTERPRISE, INC",52-54 PORETE AVE,"NORTH ARLINGTON, NJ 07031",1,"[39-41 PERSHING AVE, 43-53 PERSHING AVE, 28-32...",9,"33-41 GARIBALDI AVE Newark, NJ","(33, Garibaldi Avenue, Newark, Essex County, N..."

In [78]:
errors_df['gCode'] = errors_df.propertyFullAddress.apply(geolocator.geocode)

In [ ]:
df.append(errors_df.dropna(axis=0, subset=['gCode']))

In [ ]:
errors_df = errors_df.iloc[geocode_errors].copy()

In [ ]:
errors_df['gCode'] = errors_df.propertyFullAddress.apply(geolocator.geocode)

In [ ]:
geocode_errors = [i for i,e in enumerate(errors_df.gCode) if e == None]

In [ ]:
errors_df.iloc[geocode_errors]['propertyLocation']

2455          594 S 13TH
2957        520 S 16TH S
3102     587 S SEVEN10TH
3461          766 S 20TH
3503         5 GREEK WAY
              ...
34662      857 DOMUS AVE
34683       386 RT 1 & 9
34684       362 RT 1 & 9
34685       106 RT 1 & 9
34686       314 RT 1 & 9
Name: propertyLocation, Length: 183, dtype: object

In [ ]:
errors_df.to_pickle('errors_df.pkl')